##### `requirements.txt`
##### OpenAI
##### Open-Source, hostet on https://github.com/DrBenjamin/OpenAI
##### Please reach out to ben@benbox.org for any questions
### All needed libraries (and their versions)
streamlit == 1.20.0
streamlit-scrollable-textbox
openai
PyPDF2
opencv-python-headless
torch == 1.12.1
diffusers
transformers
datasets
audio2numpy
pydub
PyQt5
