##### `requirements.txt`
##### OpenAI
##### Open-Source, hostet on https://github.com/DrBenjamin/OpenAI
##### Please reach out to ben@benbox.org for any questions
### All needed libraries (and their versions)
streamlit == 1.20.0
streamlit-scrollable-textbox
openai
PyPDF2
opencv-python-headless
torch == 1.13.1
torchvision==0.1.9
torchaudio==0.13.1
langchain
diffusers
transformers
datasets
audio2numpy
pydub
PyQt5
python-engineio==3.13.0
python-socketio==4.6.0
text_generation
llamacpp
llamacpypy
llama-cpp-python
