##### `requirements.txt`
##### OpenAI
##### Open-Source, hostet on https://github.com/DrBenjamin/OpenAI
##### Please reach out to ben@benbox.org for any questions
### All needed libraries (and their versions)
streamlit == 1.19.0
streamlit-scrollable-textbox
torch
openai
PyPDF2